.main-hero {
   font-size: 4rem;
   color: #ffffff;
   height: 100vh;
   background: rgb(0, 75, 127);
   background: linear-gradient(
      148deg,
      rgba(0, 75, 127, 1) 0%,
      rgba(0, 113, 172, 1) 100%
   );
}

@media (max-width: 768px) {
   .main-hero {
      font-size: 6.5vw;
   }
}
